<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 100px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropDown #r="appDropDown">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
        <li><a (click)="addToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
        <li><a style="cursor:pointer;"></a>Edit Recipe</li>
        <li><a style="cursor:pointer;"></a>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" 
      *ngFor="let ingredient of recipe.ingredients">
      {{ingredient.name}} -- {{ingredient.amount}}
    </li>
    </ul>
  </div>
</div>